<h1>My First Attribute Directive</h1>
<p myHighlight>Highlight me!</p> 

<p myHighlight highlightColor="yellow">Resaltado amarillo</p>
<p myHighlight [highlightColor]="'orange'">Resaltado naranja</p>

<p myHighlight [highlightColor]="color">Color personalizado con vinculo de propiedad</p>

<p [myHighlight]="color">directamente</p>




<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color">Highlight me!</p>


<p [myHighlight]="color" defaultColor="violet">Color por defecto<p>